In [6]:
for i in enumerate(range(5), 3):
    print(i)

(3, 0)
(4, 1)
(5, 2)
(6, 3)
(7, 4)

In [7]:
a = []
a.append([1,2,3])

In [10]:
import plotly.express as px

In [11]:
df = px.data.gapminder().query("continent=='Oceania'")

In [12]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
60,Australia,Oceania,1952,69.120,8691212,10039.59564,AUS,36
61,Australia,Oceania,1957,70.330,9712569,10949.64959,AUS,36
62,Australia,Oceania,1962,70.930,10794968,12217.22686,AUS,36
63,Australia,Oceania,1967,71.100,11872264,14526.12465,AUS,36
64,Australia,Oceania,1972,71.930,13177000,16788.62948,AUS,36
65,Australia,Oceania,1977,73.490,14074100,18334.19751,AUS,36
66,Australia,Oceania,1982,74.740,15184200,19477.00928,AUS,36
67,Australia,Oceania,1987,76.320,16257249,21888.88903,AUS,36
68,Australia,Oceania,1992,77.560,17481977,23424.76683,AUS,36
69,Australia,Oceania,1997,78.830,18565243,26997.93657,AUS,36
70,Australia,Oceania,2002,80.370,19546792,30687.75473,AUS,36
71,Australia,Oceania,2007,81.235,20434176,34435.36744,AUS,36
1092,New Zealand,Oceania,1952,69.390,1994794,10556.57566,NZL,554
1093,New Zealand,Oceania,1957,70.260,2229407,12247.39532,NZL,554
1094,New Zealand,Oceania,1962,71.240,2488550,13175.67800,NZL,554
1095,New Zealand,Oceania,1967,71.520,2728150,14463.91893,NZL,554
1096,New Zealand,Oceania,1972,71.890,2929100,16046.03728,NZL,554
1097,New Zealand,Oceania,1977,72.220,3164900,16233.71770,NZL,554
1098,New Zealand,Oceania,1982,73.840,3210650,17632.41040,NZL,554
1099,New Zealand,Oceania,1987,74.320,3317166,19007.19129,NZL,554
1100,New Zealand,Oceania,1992,76.330,3437674,18363.32494,NZL,554
1101,New Zealand,Oceania,1997,77.550,3676187,21050.41377,NZL,554
1102,New Zealand,Oceania,2002,79.110,3908037,23189.80135,NZL,554
1103,New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554

In [13]:
import numpy as np
a = np.arange(10)
b = np.arange(10)

In [18]:
(a * a + 1) * 2

array([  2,   4,  10,  20,  34,  52,  74, 100, 130, 164])

In [22]:
import math
np.sqrt(a * a)

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [3]:
#(a + b + 1) * (a + b)**2
1 / ((1290 + 41 + 1) * (1290 + 41)**2)

4.2377922676710017e-10

100000000000000000000000000000000000